* {
  margin: 0;
  padding: 0;
}

html {
  background: url(https://i.imgur.com/b9r5sEL.jpg) no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
}

/* KEYS */
#keys {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  min-height: 100vh;
}

.key {
  margin: 1rem;
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  color: #fff;
  background: #333;
  opacity: 0.9;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  transition: all 0.07s;
}

.sound {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #ffc600;
  text-transform: uppercase;
}

.playing {
  transform: scale(1.1);
  color: #ffc600;
  box-shadow: 0 0 20px #ffc600;
}
